<!-- <h1>Hello Angular 19</h1> -->
<!---
<h2>{{title}}</h2>
<h3>{{name}}</h3>

<app-login></app-login>

<h2>Hello Heading</h2>
<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>
<button (click)="handleClickEvent()">click me</button>
<button (click)="sum(10,20)">datatype check</button> 
-->
<!--
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>
<br>
<br>
<div 
(mouseenter)="handleEvent($event)"
style="background-color: green; width: 100px; height: 100px;"></div>

<div 
(mouseleave)="handleEvent($event)"
style="background-color: blue; width: 100px; height: 100px;"></div>

<br>
<br>

<input type="text" 
(blur)="handleEvent($event)"
(focus)="handleEvent($event)"
(input)="handleEvent($event)"
name="user"> 

<h1>Get and Set Input field value</h1>
<h1>User Name is: {{displayName}}</h1>
<input type="text" (input)="getName($event)" value="{{name}}" placeholder="Enter User Name">
<br>
<br>
<button (click)="showDisplayName()">get value</button>
<button (click)="setName()">set name</button>
<br>
<br>

<h1>Email: {{email}}</h1>
<input type="text" placeholder="enter email" #emailField>
<br>
<br>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>

<h1 style="color: brown;">Style Rules and Options</h1>
<app-login></app-login>-->

<!--<h1>If Else condition | Control flow in Angular</h1>
 @if (x === 10) {
<div style="background-color: green;width: 200px; height: 200px;">

</div>
} -->
<!-- 
<button (click)="hide()">Hide div</button>
<button (click)="show()">Show div</button>
<button (click)="toggle()">Toggle div</button>


@if(display){
<div style="background-color: green;width: 200px; height: 200px;">

</div>
}


<hr>
<button (click)="toggleTwo()">{{toggleProp? 'show gold div' : 'show red div'}}</button>

@if (toggleProp) {
    <div style="background-color: gold; width: 200px; height: 200px;"></div>
}
@else {
        <div style="background-color: red; width: 200px; height: 200px;"></div>
} -->

<!-- <button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Blue</button>
<button (click)="handleColor(3)">Green</button>
<button (click)="handleColor(100)">Other</button>
<input (input) = "handleInput($event)" type="text" placeholder="Enter color number">

@if(color === 1){
<div style="background-color: red; width: 100px; height: 100px;"></div>
}@else if (color === 2) {
<div style="background-color: blue; width: 100px; height: 100px;"></div>
}@else if (color === 3) {
<div style="background-color: green; width: 100px; height: 100px;"></div>
}@else {
<div style="background-color: black; width: 100px; height: 100px;"></div>
} -->

<!-- <h1>Switch Case in Angular</h1>

<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('blue')">Blue</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('yellow')">Yellow</button>
<button (click)="handleColor('gold')">Gold</button>

<input type="text" name="" id="" placeholder="Enter the color name" #colorName (input)="handleColor(colorName.value)">

@switch (color) {
    @case('red'){
        <h1 style="color: red;">Red Color</h1>
    }
    @case ('green') {
        <h1 style="color: green;">Green Color</h1>
    }
    @case ('blue') {
        <h1 style="color: blue;">Blue Color</h1>
    }
    @case ('yellow') {
        <h1 style="color: yellow;">Yellow Color</h1>
    }
    @default {
        <h1>No Color Matches</h1>
    }

} -->
<!-- 
<h1>FOR LOOP IN TEMPLATE</h1>

@for (user of users; track user) {
    <h2>{{user}}</h2>
}

<hr>

@for (student of students; track student; let id = $index) {
    <h3>
        <span>id: {{id}}</span> <br>
        <span>name: {{student.name}} </span> <br>
        <span>email: {{student.email}} </span> <br>
        <button (click)="getName(student.name)">Get Age</button>
    </h3>
} -->

<!-- <h1>{{x}}</h1>
<h1>{{count()}}</h1>


<button (click)="count.set(100)" >Increase value</button>
<button (click)="updateValue()">Update Value</button> -->

<!-- <button (click)="updateValue('dec')">Decrement</button>
<h1>{{count()}}</h1>

<button (click)="updateValue('inc')">Increment</button>
<h1>{{count()}}</h1> -->

<!-- <h1>{{data()}}</h1>
<button (click)="updateSignal()">update Signal</button>
<hr>
<h1>{{count2()}}</h1> -->

<button (click)="showValueComputedSig()">show value of z2</button>


